name,branch,urn,email ,refNo
Anya Loyal,IT,2435578,sundaramsamar@gmail.com,GNDEC/NSS/19/25/01
Diya Bora,IT,2435693,ivangarde@yahoo.com,GNDEC/NSS/19/25/02
Diya Mann,IT,2435522,aniruddhzacharia@issac-bali.biz,GNDEC/NSS/19/25/03
Dishani Tak,IT,2435698,dhanukdora@kumar-sachdeva.com,GNDEC/NSS/19/25/04
Shalv Seshadri,IT,2435679,gsrivastava@hotmail.com,GNDEC/NSS/19/25/05
Biju Dey,IT,2435622,hdhar@gmail.com,GNDEC/NSS/19/25/06
Yakshit Raju,IT,2435670,sbansal@raman-goswami.info,GNDEC/NSS/19/25/07
Eva Kanda,IT,2435543,mgill@hotmail.com,GNDEC/NSS/19/25/08
Yasmin Sandal,IT,2435654,pchad@chakraborty.com,GNDEC/NSS/19/25/09
Prisha Chanda,IT,2435533,tarini58@dara-mand.com,GNDEC/NSS/19/25/10
